<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ChatGptNet</a>
        <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">
                <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/marcominerva/ChatGptNet">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>