@using ChatGptNet;
@using ChatGptNet.Models;
@using Markdig;
@inject IChatGptClient chatGptClient

@convertedMarkdown

<InputText class="form-control" @bind-Value="@message" />

<button class="btn btn-primary" @onclick="SendMessage">Send</button>

@code {
    string messages = string.Empty;
    Guid conversationId;
    string message = "act as a developer. write me an hello world in C#.";

    private MarkupString convertedMarkdown;

    private async Task SendMessage()
    {
        var responseStream = chatGptClient.AskStreamAsync(conversationId, message);
        string? html;

        var pipeline = new Markdig.MarkdownPipelineBuilder().UseAdvancedExtensions().Build();

        await foreach (var response in responseStream)
        {
            conversationId = response.ConversationId;

            messages += response.GetMessage();
            html = Markdig.Markdown.ToHtml(messages ?? "", pipeline);
            convertedMarkdown = (MarkupString)html;

            await Task.Delay(80);
            StateHasChanged();
        }

        messages += $"{Environment.NewLine} <hr /> {Environment.NewLine}";
        html = Markdig.Markdown.ToHtml(messages ?? "", pipeline);
        convertedMarkdown = (MarkupString)html;

        message = string.Empty;
    }
}
